<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content=
		"width=device-width, initial-scale=1.0">

	<link rel='icon' href='C:\Users\Lenovo\Pictures\images\favicon.ico' type='ico/image'/>
	<title>ContactUs</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
	<div id="ContactUs">
		<h1>Contact Us</h1>
		<form action="#"method="POST">{% csrf_token %}
			<div class="form-shape">
				<label for="query">
					Type of Query
				</label>
				<select name="myQuery" id="query">
					<option value="sel" selected>
						Select
					</option>
					<option value="ord">
						Order related Issues
					</option>
					<option value="Site">
						Site related Issues
					</option>
					<option value="fed">
						Complaint related Issues
					</option>
					<option value="others">
						Others
					</option>
				</select>
			</div>
			<div class="form-shape">
				<label for="name">Name</label>
				<input type="text" name="myName"
					id="name"
					placeholder="Enter your Name">
			</div>
			<div class="form-shape">
				<label for="email">Email-Id</label>
				<input type="email" name="myEmail"
					id="email"
					placeholder="Enter your email">
			</div>
			<div class="form-shape">
				<label for="pho">Phone Number</label>
				<input type="phone" name="myPhone"
					id="pho"
					placeholder="Enter your Phone no">
			</div>
			<div class="form-shape">
				<label for="message">
					<address>ADDRESS</address>
				</label>
				<textarea name="mesg" id="message"
					placeholder="enter your address here">
				</textarea>
			</div>
Select Options: 	<select name="item">
			<option value="alphonse mangoes" selected="selected">Alphonse mangoes</option>
			<option value="banginapalli mangoes" selected="selected">Banginapalli mangoes</option>
			<option value="aparanji mangoes" selected="selected">Aparanji mangoes</option>
			</select>
Select kilograms: 	<select name="weigh" >
			<option value="5" selected="selected">5</option>
			<option value="10" selected="selected">10</option>
			<option value="20" selected="selected">20</option>
			<option value="30" selected="selected">30</option>
			<option value="40" selected="selected">40</option>
			<option value="50" selected="selected">50</option>
			</select>
			<input type="submit" value="Submit">
			<br><br>
			
			<!-- <script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_KKAiicI0vwDEQ3" async> </script> -->
			<br><br>

			<!-- <input type="reset" value="Reset"> -->
			<a href="https://upilinks.in/payment-link/upi1588708381"><h1>click Submit and Scan the qr code to pay</h1></a>
		</form>
		
		
		<!-- <u><li><a href="{% url 'home' %}">Home</a></li></u> -->
	</div>
</body>

</html>

<style>
body {
	background-color: rgb(206, 215, 245);
}
</style>